body {
    margin: 0 0 0 0;
    font-family: Arial, sans-serif;
}

main {
    padding: 20px;
    text-align: center;
}

.stationLabel {
    text-align: left;
    color: black;
    -webkit-text-stroke: 2px white;
    text-stroke: 2px white;
    paint-order: stroke;
    font-size: 0.85rem;
}

.majorStation {
    -webkit-text-stroke: 2px rgb(247, 255, 194);
    text-stroke: 2px rgb(247, 255, 194);
}
